.git
.github
node_modules
vendor
.env
.env.local
.env.*.local
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
.phpunit.result.cache
Dockerfile
.dockerignore
